.root {
  -fx-background-color: #eeeeee;
}

.left_container {
  -fx-background-color: #1b3c1b;
}

.left_container Text {
  -fx-font-size: 2em;
  -fx-fill: #ffffff;
}

.left_container FontAwesomeIconView {
  -fx-fill: #ebffa5;
}

.right_container {
  -fx-spacing: 20;
}

.right_container .info_container {
  -fx-spacing: 5;
}

.right_container .info_container Label {
  -fx-font-size: 2em;
  -fx-text-fill: #2b442b;
  -fx-font-weight: bold;
}

.right_container .input_container {
  -fx-spacing: 15;
}

.right_container .input_container .text-field,
.right_container .input_container .password-field {
  -fx-font-size: 1.3em;
  -fx-text-fill: #2b442b;

  -fx-border-color: #141f14;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.right_container Button {
  -fx-font-size: 1.3em;
  -fx-background-color: #1b3c1b;
  -fx-text-fill: #ffffff;
  -fx-border-color: #141f14;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.right_container Button:hover {
  -fx-background-color: #1f4b1f;
  -fx-cursor: hand;
}

.info_text {
  -fx-font-size: 1.2em;
}
